.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    border-radius: 13px;
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    background-color: #fff;

}

.navbar-logo img{
    color: #222;
    cursor: pointer;
    width: 100px;
    height: auto;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links i{
    padding-right: 10px;
}
.nav-links:hover{
    background-color: #B43737;
    color: #fff;
    border-radius: 9px;
    transition: all 0.2s ease-in-out;
}
.nav-links-mobile{
    display: none;
}

button{
    padding: 0.7rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #B43737;
    color: #fff;
}

button:hover{
    background-color: #fff;
    color: #222;
}
.menu-icons{
    display: none;
}

@media screen and (max-width: 1000px){
    .NavbarItems{
        z-index: 99;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 13px;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 1.5rem 0;
        background: #fff;
        border-radius: 13px;
    }
    .nav-links:hover{
        background: #B43737;
        transition: none;
    }
    button{
        display: none;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 13px;
        width: 80%;
        background: #B43737;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .nav-links-mobile:hover{
        background: white;
        color: #01959a;
    }
    .menu-icons{
        display: block;
        
    }
    .menu-icons i{
        font-size: 1.2rem;
        color: #222;
    }
    
}